<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117634179-1');
</script>

</body>
<footer class="page-footer">
  <div class="footer-copyright" style="padding-left: 30px">
    <i class="material-icons" style="padding-right:5px">copyright</i><p>2018 Copyright {{ site.name }} | All rights reserved</p>
  </div>
</footer>
</html>
